# Question4:

**Code Implementation Task: Implement code to fill the missing data (impute) in daily_vaccinations column per country with the minimum daily vaccination number of relevant countries.  
Note: If a country does not have any valid vaccination number yet, fill it with “0” (zero). 
Please  provide the link to your code as answer to this question.**

In [35]:
#Import the libraries,

import pandas as pd

In [36]:
#Load the dataset,

df = pd.read_csv("country_vaccination_stats.csv")

In [37]:
#Let's take a look at our data,

df.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020                 NaN  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1502 entries, 0 to 1501
Data columns (total 4 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   country             1502 non-null   object
 1   date                1502 non-null   object
 2   daily_vaccinations  1442 non-null   float64
 3   vaccines            1502 non-null   object
dtypes: float64(1), object(3)
memory usage: 47.1+ KB

In [39]:
#Group the data by country,

grouped = df.groupby("country")


#We define a function that fills the missing values with the minimum value of the group/or zero(based on the condition),

def fill_missing(group):
    # If all values are missing, fill with 0
    if group["daily_vaccinations"].isnull().all():
        group["daily_vaccinations"] = 0
    else:
        # Otherwise, fill missing values with the minimum value of the group
        group["daily_vaccinations"] = group["daily_vaccinations"].fillna(group["daily_vaccinations"].min())
    return group

#Apply the impute function to each group,

df_altered = grouped.apply(fill_missing)

df_altered.head()

     country        date  daily_vaccinations   vaccines
0  Argentina  12/29/2020              6483.0  Sputnik V
1  Argentina  12/30/2020             15656.0  Sputnik V
2  Argentina  12/31/2020             15656.0  Sputnik V
3  Argentina    1/1/2021             11070.0  Sputnik V
4  Argentina    1/2/2021              8776.0  Sputnik V

# Question6:


**Code Implementation Task: Implement code to list the top-3 countries with highest median daily vaccination numbers by considering missing values imputed version of dataset.**

In [41]:
#Group the data by country and calculate the median daily vaccination numbers,
median_daily_vaccinations = df_altered.groupby('country')['daily_vaccinations'].median()

#Sort the data by median daily vaccination numbers in descending order,
sorted_data = median_daily_vaccinations.sort_values(ascending=False)

#Select the top 3 countries with highest median daily vaccination numbers,
top_3_countries = sorted_data.head(3)

print(top_3_countries)

country
United States    378253.0
China            276786.0
India            173922.0
Name: daily_vaccinations, dtype: float64

# Question7:

**What is the number of total vaccinations done on 1/6/2021 (MM/DD/YYYY) by considering missing values imputed version of dataset?**

In [45]:
#Filter the data to only include data from 1/6/2021,
date_filter = df_altered['date'] == '01/06/2021'
filtered_data = df_altered[date_filter]


#Calculate the total vaccinations done on 1/6/2021,
total_vaccinations = filtered_data['daily_vaccinations'].sum()

print(total_vaccinations)

0.0

# Question8:

**Code Implementation Task: If this list would be a database table, please provide SQL query to fill in the missing daily vaccination numbers with discrete median of country as similar to question a.  
Note: This time SQL equivalent is requested, and imputation value is median of each country, not minimum. Please remember filling countries with zero if they do not have any valid daily_vaccination records like Kuwait.**

In [49]:
# we assumed that we have our data in the vaccinations table in the database..
"""
UPDATE vaccinations v1
SET daily_vaccinations = (
    SELECT COALESCE(median_daily_vaccinations, 0)
    FROM (
        SELECT country, MEDIAN(daily_vaccinations) OVER (PARTITION BY country) AS median_daily_vaccinations
        FROM vaccinations
        WHERE daily_vaccinations IS NOT NULL
    ) AS medians
    WHERE medians.country = v1.country
)
WHERE daily_vaccinations IS NULL;
"""

'\nUPDATE vaccinations v1\nSET daily_vaccinations = (\n    SELECT COALESCE(median_daily_vaccinations, 0)\n    FROM (\n        SELECT country, MEDIAN(daily_vaccinations) OVER (PARTITION BY country) AS median_daily_vaccinations\n        FROM vaccinations\n        WHERE daily_vaccinations IS NOT NULL\n    ) AS medians\n    WHERE medians.country = v1.country\n)\nWHERE daily_vaccinations IS NULL;\n'